 .article_list .article_item {
    box-sizing: border-box;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 6px 0 0 0;
    /* padding-right: 30px; */
  }
  .article_item h3 {
    padding: 15px 0px 0 24px;
  }
  .article_item h3 > a {
    display: inline-block;
    text-decoration: unset;
    color: chocolate;
    padding: 0px 6px 6px 6px;
  }
  .article_item a:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid chocolate;
  }
  .preview {
      padding: 0 26px 0 26px;
      min-height: 60px;
      max-height: 650px;
      overflow: hidden;
      position: relative;
      padding-bottom: 15px;
  }
  .preview:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 26px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    background: -webkit-linear-gradient(to top, rgba(255,255,255, 0.9), rgba(255,255,255, 0));
    background: linear-gradient(to top, rgba(255,255,255, 0.9), rgba(255,255,255, 0));
  }
  .article_item_footer {
      border-top: 1px solid #efefef;
      min-height: 60px;
      position: relative;
  }
  .article_item_footer .read_btn {
      height: 40px;
      line-height: 40px;
      width: 70px;
      text-align: center;
      background-color: #eee;
      position: absolute;
      bottom: 10px;
      right: 20px;
      color: #666;
      font-weight: bold;
      cursor: pointer;
  }
  .article_item_footer .read_btn:hover {
      background-color: chocolate;
      color: #fff;
      text-decoration: underline;
  }
  /* 分页条 */
  .page_box {
    margin: 25px 0;
    display: flex;
    flex-flow: row nowrap;
    font-weight: 600;
  }
  .page_box .page_num {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-right: 10px;
  }
  .page_next_item, .page_pre_item {
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
  }
  .page_num_item {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    cursor: pointer;
  }
  .page_next_item:hover, .page_pre_item:hover, .page_num_item:hover, .page_num .actived {
    background-color: chocolate;
    color: #fff;
  }